body {
	background: url('background.png') no-repeat;
	/*background-color: coral;*/
	/*background-color: rgba(201, 76, 76, 0.3);*/
	/*background-color: #fefbd8;*/
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}
#header {
	height: 100px;
	background: radial-gradient(white, grey, black);
	position: relative;
	background-attachment: fixed;
}

#header h1 {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: impact;
    text-shadow: 0px -7px 10px black;
    opacity: 0.9;
    user-select: none;
    color: white;
}

h1 {
	text-align: left;
	margin: 80px 200px 20px 200px;
	color: orange;
	text-shadow: 0px -8px 10px black;
}

h3 {
	color: orange;
	text-decoration: underline;
}

h4 {
	font-style: normal;
	color: #00ff00;
}

article {
	margin: 0 200px 200px 200px;
	padding: 50px;
	background: rgba(0,0,0,0.9);
	box-shadow: 10px 13px 32px 0px rgba(0,0,0,0.8);
	color: white;
	letter-spacing: 2px;
	word-spacing: 5px;
}

table {
	border-spacing: 10px;
	width: 100%;
	font-style: italic;
}

td, li {
	font-style: italic;
	color: orange;
}

b {
	color: #00ff00;
}